---
import Layout from '../../../layouts/Layout.astro'

const pageTitle = "Contact";
const description = 'The contact page'
---

<Layout pageTitle={pageTitle} description={description} >
  <h1>{pageTitle}</h1>
</Layout>