---
import type { HTMLAttributes } from "astro/types";

import type { ButtonBase } from "./button";
import { getButtonClasses } from "./styles.ts";

interface Props
  extends ButtonBase,
    Omit<HTMLAttributes<"a">, "color">,
    Pick<HTMLAttributes<"button">, "disabled"> {}

const { color, variant = "primary", size = "s", ...attributes } = Astro.props;

if (attributes.disabled) {
  attributes["aria-disabled"] = "true";
  attributes["aria-hidden"] = "true";
  attributes["inert"] = "true";
  attributes.href = undefined;
  attributes.disabled = undefined;
}

const classList = [...getButtonClasses(variant, size), "btn--anchor"];
---

<a class:list={[classList, attributes.class]} {...attributes}>
  <slot />
</a>

<style define:vars={{ "btn-accent": color }}>
  @import "./button.css";

  .btn--anchor {
    font-weight: var(--w-light);
  }
</style>
