---
import type { HTMLAttributes } from "astro/types";

import type { ButtonBase } from "./button";
import { getButtonClasses, getButtonStyles } from "./styles.ts";

interface Props extends ButtonBase, HTMLAttributes<"a"> {}

const { variant = "primary", size = "s", ...attributes } = Astro.props;

if (attributes.disabled) {
  attributes["aria-disabled"] = "true";
  attributes["aria-hidden"] = "true";
  attributes["inert"] = "true";
  attributes.href = undefined;
  attributes.disabled = undefined;
}

const classList = [...getButtonClasses(variant, size), "btn--anchor"];
const styleList = getButtonStyles(attributes.color);
---

<a class:list={classList} style={styleList} {...attributes}>
  <slot />
</a>

<style>
  @import "./button.css";

  .btn--anchor {
    font-weight: var(--w-light);
  }
</style>
