---
import type { HTMLAttributes } from "astro/types";

import type { ButtonBase } from "./button.d.ts";
import { getButtonClasses } from "./styles";

interface Props extends ButtonBase, Omit<HTMLAttributes<"button">, "color"> {}

const { color, variant = "primary", size = "s", ...attributes } = Astro.props;

const classList = [...getButtonClasses(variant, size), "btn--native"];
---

<button class:list={[classList, attributes.class]} {...attributes}>
  <slot />
</button>

<style define:vars={{ "btn-accent": color }}>
  @import "./button.css";

  .btn--native {
    font-weight: var(--w-semibold);
  }
</style>
