.btn {
  cursor: pointer;
  touch-action: manipulation;

  font-family: var(--font-family-secondary);
  color: var(--btn-text);
  white-space: nowrap;

  background: var(--btn-bg);
  border: 2px solid var(--btn-border-color);
  border-radius: var(--btn-border-radius);

  box-shadow:
    var(--btn-shadow-2),
    var(--btn-shadow-depth),
    0 0 0 var(--btn-highlight-size) var(--btn-highlight-color);
  text-shadow: var(--btn-ink-shadow);
  outline-color: currentColor;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  gap: 1ch;
  padding-inline: var(--btn-padding-x);
  padding-block: var(--btn-padding-y);

  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;

  transition: var(--btn-transition);

  &:hover {
    --btn-highlight-size: 0.5rem;
  }

  &:focus-visible {
    outline-offset: 5px;
  }

  &:is(:disabled, [aria-disabled]) {
    cursor: not-allowed;
    pointer-events: none;
    box-shadow: none;
    opacity: 0.5;
    color: hsl(from currentColor h s l / 0.5);
  }
}

.btn > :global(.icon) {
  color: var(--btn-text);
  inline-size: var(--btn-icon-size);
  block-size: var(--btn-icon-size);
  flex-shrink: 0;
}

.btn > :global(.icon svg) {
  stroke: var(--btn-icon-color);
  filter: drop-shadow(var(--btn-ink-shadow));
}

.btn--ghost {
  background: transparent;
  border: 0;
  box-shadow: none;
}

.btn--icon {
  aspect-ratio: 1;
  background: transparent;
  box-shadow: none;
  text-shadow: none;
  border: 0;
  --btn-padding-x: 0;
  --btn-padding-y: 0;
}

.btn--xs {
  font-size: var(--font-size-0);
}

.btn--s {
  font-size: var(--font-size-1);
}

.btn--m {
  font-size: var(--font-size-2);
}

.btn--l {
  font-size: var(--font-size-3);
}

.btn--xl {
  font-size: var(--font-size-4);
}
