---
import type { HTMLAttributes } from "astro/types";
import { buildElementProps } from "@/utils";

import type { ButtonBase } from "./button.d.ts";
import { getButtonClasses, getButtonStyles } from "./styles";

type Props = ButtonBase & HTMLAttributes<"button">;

// Reinstantiate props to set defaults
const props = {
  variant: Astro.props.variant ?? "primary",
  size: Astro.props.size ?? "s",
  ...Astro.props
};

const built = buildElementProps<"button">({
  classList: [...getButtonClasses(props), "btn--native"],
  styleList: [...getButtonStyles(props)],
  decorative: props.disabled ? true : undefined,
  attributes: {
    ...props
  }
});
---

<button {...built}>
  <slot />
</button>

<style>
  @import "./button.css";

  .btn--native {
    font-weight: var(--w-semibold);
  }
</style>
