---
import Layout from '../../../layouts/Layout.astro'
import { getLangFromUrl } from "../../../i18n/utils";
import { getPageMeta } from "../../../i18n/meta";

const lang = getLangFromUrl(Astro.url);
const meta = getPageMeta(lang, "folio");
---

<Layout pageTitle={meta.title} description={meta.description} >
  <h1>{meta.title}</h1>
</Layout>