.btn {
  --btn-accent: var(--accent-primary);
  --btn-text: hsl(from var(--btn-accent) h s l / 0.85);
  --btn-bg: var(--bg-secondary);

  --btn-padding-x: 1.75ch;
  --btn-padding-y: 0.75ch;

  --btn-border-radius: 0.5ch;
  --btn-border-color: var(--btn-bg);

  --btn-highlight-size: 0;
  --btn-highlight-color: hsl(from var(--btn-accent) h s l / 0.25);

  --btn-ink-shadow: 0 1px 0 hsl(from var(--btn-text) h s l / 0.15);

  --btn-icon-size: 2ch;
  --btn-icon-color: var(--btn-accent);

  --btn-shadow-color: var(--shadow-color);
  --btn-shadow-strength: 25%;
  --btn-shadow-1: 0 1px 2px -1px
    hsl(var(--btn-shadow-color) h s l / calc(var(--btn-shadow-strength) + 9%));
  --btn-shadow-2:
    0 3px 5px -2px hsl(var(--btn-shadow-color) / calc(var(--btn-shadow-strength) + 3%)),
    0 7px 14px -5px hsl(var(--btn-shadow-color) / calc(var(--btn-shadow-strength) + 5%));
  --btn-shadow-depth: 0 1px var(--btn-border-color);

  --btn-transition-motion-reduce: ;
  --btn-transition-motion-ok: box-shadow 145ms ease, outline-offset 145ms ease;
  --btn-transition: var(--btn-transition-motion-ok);
}

.btn--icon {
  --btn-icon-size: clamp(44px, 1.5ch + 1vw, 128px);
}

.btn--anchor {
  --btn-accent: var(--text-link);
}

.btn--danger {
  --btn-accent: var(--callout-error);
}

@media (prefers-color-scheme: light) {
  .btn {
    --btn-border-color: hsl(from var(--btn-accent) h s l / 0.25);
    --btn-shadow-strength: 25%;
  }
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    --btn-transition: var(--btn-transition-motion-reduce);
  }
}
