---
import Layout from '../../layouts/Layout.astro';
import { getPageMeta } from "../../i18n/meta";
import { getLangFromUrl } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const meta = getPageMeta(lang, "home");
---

<Layout pageTitle={meta.title} description={meta.description}>
  <h1>{meta.title}</h1>
</Layout>
