---
import Layout from '../layouts/Layout.astro'
import { defaultLang } from '../i18n/ui';
import { pathWithLocale } from '../i18n/utils';

// Only emit this page in non‑production builds, in prod pass redirecting to backend
export const prerender = import.meta.env.ROOT_REDIRECT_PAGE;

const pageTitle = 'Redirecting…';
const target = pathWithLocale(defaultLang, '/'); // e.g., '/en/'
---

<Layout pageTitle={pageTitle}>
  <Fragment slot="head">
    <meta http-equiv="refresh" content={`0; url=${target}`} />
    <meta name="robots" content="noindex" />
  </Fragment>

  <p>Redirecting to <a href={target}>{target}</a></p>
</Layout>