---
import Layout from "../layouts/Layout.astro";
import { pathWithLocale, defaultLocale } from "@/i18n";
import { env } from "@/types/env.ts";

// Only emit this page in non‑production builds, in prod pass redirecting to backend

export const prerender = env.ROOT_REDIRECT_PAGE;

const pageTitle = "Redirecting…";
const target = pathWithLocale(defaultLocale, "/"); // e.g., '/en/'
---

<Layout pageTitle={pageTitle}>
  <Fragment slot="head">
    <meta http-equiv="refresh" content={`0; url=${target}`} />
    <meta name="robots" content="noindex" />
  </Fragment>

  <p>Redirecting to <a href={target}>{target}</a></p>
</Layout>
