---
import { getRelativeLocaleUrl } from "astro:i18n";
import Layout from "../layouts/Layout.astro";
import { defaultLocale } from "@/utils/i18n/locales";

const pageTitle = "Redirecting…";

const target = getRelativeLocaleUrl(defaultLocale, "/");
---

<Layout pageTitle={pageTitle}>
  <Fragment slot="head">
    <meta http-equiv="refresh" content={`0; url=${target}`} />
    <meta name="robots" content="noindex" />
  </Fragment>

  <p>Redirecting to <a href={target}>{target}</a></p>
</Layout>
