---
import Layout from "../layouts/Layout.astro";
import { defaultLocale } from "@/utils";
import { ROOT_REDIRECT_PAGE } from "astro:env/server";
import { getRelativeLocaleUrl } from "astro:i18n";

// Only emit this page in non‑production builds, in prod pass redirecting to backend
export const prerender = ROOT_REDIRECT_PAGE;

const pageTitle = "Redirecting…";

const target = getRelativeLocaleUrl(defaultLocale, "/");
---

<Layout pageTitle={pageTitle}>
  <Fragment slot="head">
    <meta http-equiv="refresh" content={`0; url=${target}`} />
    <meta name="robots" content="noindex" />
  </Fragment>

  <p>Redirecting to <a href={target}>{target}</a></p>
</Layout>
