---
import EnvelopeIcon from "@phosphor-icons/core/assets/regular/envelope.svg";
import HeartIcon from "@phosphor-icons/core/assets/regular/heart.svg";
import LinkIcon from "@phosphor-icons/core/assets/regular/link.svg";
import ToggleLeftIcon from "@phosphor-icons/core/assets/regular/toggle-left.svg";

import Button from "&ui/Button/Button.astro";
import ButtonAnchor from "&ui/Button/ButtonAnchor.astro";
import Card from "&ui/Card.astro";
import Icon from "&ui/Icon.astro";
import Layout from "&ui/Layout.astro";

import "&styles/base/global.css";

const pageTitle = "TestComponent Page";
---

<Layout pageTitle={pageTitle}>
  <h1>Test Page</h1>

  <section>
    <h2>Typography</h2>

    <div class="examples">
      <section>
        <p>Font Families</p>
        <div class="selection selection--column">
          <p class="font-family-example" style="font-family: var(--font-family-title)">
            Titles Font
          </p>
          <p class="font-family-example" style="font-family: var(--font-family-primary)">
            Primary Body Font
          </p>
          <p class="font-family-example" style="font-family: var(--font-family-secondary)">
            Secondary Body Font
          </p>
          <p class="font-family-example" style="font-family: var(--font-family-mono)">Code Font</p>
        </div>
      </section>

      <section>
        <p>Font Sizes</p>
        <div class="selection selection--column">
          <p style="font-size: var(--font-size-0)">Font Size 0</p>
          <p style="font-size: var(--font-size-1)">Font Size 1</p>
          <p style="font-size: var(--font-size-2)">Font Size 2</p>
          <p style="font-size: var(--font-size-3)">Font Size 3</p>
          <p style="font-size: var(--font-size-4)">Font Size 4</p>
          <p style="font-size: var(--font-size-5)">Font Size 5</p>
          <p style="font-size: var(--font-size-6)">Font Size 6</p>
        </div>
      </section>

      <section>
        <p>Line Heights</p>
        <div class="selection selection--column selection--line-height-example">
          <p style="line-height: var(--lh-tight)">Tight Line Height</p>
          <p style="line-height: var(--lh-title)">Title Line Height</p>
          <p style="line-height: var(--lh-body)">Body Line Height</p>
        </div>
      </section>

      <section>
        <p>Weights</p>
        <div class="selection selection--column">
          <p style="font-weight: var(--w-hairline)">Hairline</p>
          <p style="font-weight: var(--w-thin)">Thin</p>
          <p style="font-weight: var(--w-light)">Light</p>
          <p style="font-weight: var(--w-regular)">Regular</p>
          <p style="font-weight: var(--w-medium)">Medium</p>
          <p style="font-weight: var(--w-semibold)">Semibold</p>
          <p style="font-weight: var(--w-bold)">Bold</p>
        </div>
      </section>
    </div>
  </section>

  <section>
    <h2>Colors</h2>
    <div class="examples examples--alt-background">
      <section>
        <p>Background</p>
        <div class="selection">
          <div class="circle" style="background-color: var(--bg-primary)" />
          <div class="circle" style="background-color: var(--bg-secondary)" />
          <div class="circle" style="background-color: var(--bg-tertiary)" />
          <div class="circle" style="background-color: var(--bg-card)" />
          <div class="circle" style="background-color: var(--bg-code)" />
        </div>
      </section>
      <section>
        <p>Text</p>
        <div class="selection">
          <div class="circle" style="background-color: var(--text-primary)" />
          <div class="circle" style="background-color: var(--text-secondary)" />
          <div class="circle" style="background-color: var(--text-link)" />
          <div class="circle" style="background-color: var(--text-link-hover)" />
          <div class="circle" style="background-color: var(--text-link-focus)" />
        </div>
      </section>
      <section>
        <p>Accent</p>
        <div class="selection">
          <div class="circle" style="background-color: var(--accent-primary)" />
          <div class="circle" style="background-color: var(--accent-secondary)" />
          <div class="circle" style="background-color: var(--accent-tertiary)" />
          <div class="circle" style="background-color: var(--accent-quaternary)" />
        </div>
      </section>
      <section>
        <p>Callouts</p>
        <div class="selection">
          <div class="circle" style="background-color: var(--callout-success)" />
          <div class="circle" style="background-color: var(--callout-warning)" />
          <div class="circle" style="background-color: var(--callout-error)" />
          <div class="circle" style="background-color: var(--callout-info)" />
        </div>
      </section>
      <section>
        <p>Components & States</p>
        <div class="selection">
          <div class="circle" style="background-color: var(--focus-ring)" />
          <div class="circle" style="background-color: var(--border-color)" />
          <div class="circle" style="background-color: var(--surface-1)" />
          <div class="circle" style="background-color: var(--surface-2)" />
          <div class="circle" style="background-color: var(--overlay)" />
          <div class="circle" style="background-color: var(--selection-bg)" />
          <div class="circle" style="background-color: var(--scrollbar-thumb)" />
          <div class="circle" style="background-color: var(--icon-color)" />
        </div>
      </section>
    </div>
  </section>

  <section>
    <h2>Spacing</h2>
    <div class="examples">
      <div>
        <p>Default</p>
        <div class="selection--spacing-example">
          <Card class="box" square>1</Card>
          <Card class="box" square>2</Card>
          <Card class="box" square>3</Card>
          <Card class="box" square>4</Card>
          <Card class="box" square>5</Card>
          <Card class="box" square>6</Card>
          <Card class="box" square>7</Card>
          <Card class="box" square>8</Card>
          <Card class="box" square>9</Card>
        </div>
      </div>
      <div>
        <p>Space 1</p>
        <div class="selection--spacing-example" style="gap: var(--space-1);">
          <Card class="box" square>1</Card>
          <Card class="box" square>2</Card>
          <Card class="box" square>3</Card>
          <Card class="box" square>4</Card>
          <Card class="box" square>5</Card>
          <Card class="box" square>6</Card>
          <Card class="box" square>7</Card>
          <Card class="box" square>8</Card>
          <Card class="box" square>9</Card>
        </div>
      </div>
      <div>
        <p>Space 2</p>
        <div class="selection--spacing-example" style="gap: var(--space-2);">
          <Card class="box" square>1</Card>
          <Card class="box" square>2</Card>
          <Card class="box" square>3</Card>
          <Card class="box" square>4</Card>
          <Card class="box" square>5</Card>
          <Card class="box" square>6</Card>
          <Card class="box" square>7</Card>
          <Card class="box" square>8</Card>
          <Card class="box" square>9</Card>
        </div>
      </div>
      <div>
        <p>Space 3</p>
        <div class="selection--spacing-example" style="gap: var(--space-3);">
          <Card class="box" square>1</Card>
          <Card class="box" square>2</Card>
          <Card class="box" square>3</Card>
          <Card class="box" square>4</Card>
          <Card class="box" square>5</Card>
          <Card class="box" square>6</Card>
          <Card class="box" square>7</Card>
          <Card class="box" square>8</Card>
          <Card class="box" square>9</Card>
        </div>
      </div>
      <div>
        <p>Space 4</p>
        <div class="selection--spacing-example" style="gap: var(--space-4);">
          <Card class="box" square>1</Card>
          <Card class="box" square>2</Card>
          <Card class="box" square>3</Card>
          <Card class="box" square>4</Card>
          <Card class="box" square>5</Card>
          <Card class="box" square>6</Card>
          <Card class="box" square>7</Card>
          <Card class="box" square>8</Card>
          <Card class="box" square>9</Card>
        </div>
      </div>
      <div>
        <p>Space 5</p>
        <div class="selection--spacing-example" style="gap: var(--space-5);">
          <Card class="box" square>1</Card>
          <Card class="box" square>2</Card>
          <Card class="box" square>3</Card>
          <Card class="box" square>4</Card>
          <Card class="box" square>5</Card>
          <Card class="box" square>6</Card>
          <Card class="box" square>7</Card>
          <Card class="box" square>8</Card>
          <Card class="box" square>9</Card>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2>Tokens</h2>
    <div class="examples">
      <section>
        <p>Radii</p>
        <div class="selection">
          <Card class="box" square style="border-radius: var(--radius-sm);" width="100px">sm</Card>
          <Card class="box" square style="border-radius: var(--radius-md);" width="100px">md</Card>
          <Card class="box" square style="border-radius: var(--radius-lg);" width="100px">lg</Card>
        </div>
      </section>

      <section>
        <p>Shadows</p>
        <div class="selection">
          <Card class="box" square style="box-shadow: var(--shadow-1);" width="100px">1</Card>
          <Card class="box" square style="box-shadow: var(--shadow-2);" width="100px">2</Card>
          <Card class="box" square style="box-shadow: var(--shadow-3);" width="100px">3</Card>
        </div>
      </section>
    </div>
  </section>

  <section>
    <h2>Animations</h2>
    <div class="examples">
      <section>
        <p>Timing Functions</p>
        <div class="selection">
          <div class="circle animation" style="animation-timing-function: var(--ease-standard)" />
          <div class="circle animation" style="animation-timing-function: var(--ease-emphasized)" />
        </div>
      </section>

      <section>
        <p>Durations</p>
        <div class="selection">
          <div class="circle animation" style="animation-duration: var(--dur-fast);" />
          <div class="circle animation" style="animation-duration: var(--dur-medium);" />
          <div class="circle animation" style="animation-duration: var(--dur-slow);" />
        </div>
      </section>

      <section>
        <p>Animations</p>
        <div class="selection">
          <!-- Not all OpenProps animations are working -->
          <div class="circle animation" style="animation-name: spin" />
          <div class="circle animation" style="animation-name: fade-in" />
          <div class="circle animation" style="animation-name: fade-out" />
          <div class="circle animation" style="animation-name: slide-in-up" />
          <div class="circle animation" style="animation-name: slide-in-right" />
          <div class="circle animation" style="animation-name: slide-out-down" />
          <div class="circle animation" style="animation-name: slide-out-left" />
          <div class="circle animation" style="animation-name: grow" />
        </div>
      </section>
    </div>
  </section>

  <section>
    <h2>Components</h2>

    <div class="examples">
      <section>
        <p>Cards</p>
        <div class="selection selection--column">
          <Card>Default</Card>
          <Card sizing="full">Sizing Full</Card>
          <Card sizing="fit-content">Sizing Fit Content</Card>
          <Card square width="100px">Square 100px</Card>
          <Card height="100px">Height 100px</Card>
          <Card width="100px">Width 100px</Card>
          <Card backgroundColor="var(--test-color)">Background Color</Card>
        </div>
      </section>

      <section>
        <p>Buttons</p>
        <div class="selection">
          <section>
            <p>Default Button</p>
            <div class="selection selection--button-example">
              <Button>Default</Button>
              <Button variant="primary">Primary</Button>
              <Button color="var(--test-color)" variant="primary">Custom Color</Button>
              <Button variant="danger">Danger</Button>
              <Button variant="primary">
                <Icon><EnvelopeIcon /></Icon>
                Text Icon
              </Button>
              <Button aria-label="Icon Button" size="xl" variant="icon"><Icon><ToggleLeftIcon /></Icon></Button>
              <Button variant="ghost">Ghost</Button>
              <Button disabled>Disabled</Button>
            </div>
          </section>

          <section>
            <p>Anchor Button</p>
            <div class="selection selection--button-example">
              <ButtonAnchor href="#">Default</ButtonAnchor>
              <ButtonAnchor href="#" variant="primary">Primary</ButtonAnchor>
              <ButtonAnchor href="#" variant="danger">Danger</ButtonAnchor>
              <ButtonAnchor color="var(--test-color)" href="#" variant="primary">
                Custom Color
              </ButtonAnchor>
              <ButtonAnchor href="#">
                <Icon><EnvelopeIcon /></Icon>
                {" "}
                Text Icon
              </ButtonAnchor>
              <ButtonAnchor aria-label="Icon Button" href="#" size="xl" variant="icon">
                <Icon><LinkIcon /></Icon>
              </ButtonAnchor>
              <ButtonAnchor href="#" variant="ghost">Ghost</ButtonAnchor>
              <ButtonAnchor disabled href="#">Disabled</ButtonAnchor>
            </div>
          </section>

          <section>
            <p>Button Sizes</p>
            <div class="selection selection--button-example">
              <Button size="xs">Extra Small</Button>
              <Button size="s">Small</Button>
              <Button size="m">Medium</Button>
              <Button size="l">Large</Button>
              <Button size="xl">Extra Large</Button>
            </div>
          </section>
        </div>
      </section>

      <section>
        <p>Icons</p>
        <div class="selection">
          <Icon><HeartIcon /></Icon>
          <Icon size="50px"><EnvelopeIcon /></Icon>
          <Icon color="var(--test-color)"><LinkIcon /></Icon>
        </div>
      </section>
    </div>
  </section>

  <section>
    <h2>Layouts</h2>

    <div class="examples">
      <section>
        <p>Flex</p>
        <div class="selection selection--flex">
          <Card class="box" square>1</Card>
          <Card class="box" square>2</Card>
          <Card class="box" square>3</Card>
          <Card class="box" square>4</Card>
          <Card class="box" square>5</Card>
          <Card class="box" square>6</Card>
        </div>
      </section>
      <section>
        <p>Grid</p>
        <div class="selection selection--grid-example">
          <Card class="box" square>1</Card>
          <Card class="box" square>2</Card>
          <Card class="box" square>3</Card>
          <Card class="box" square>4</Card>
          <Card class="box" square>5</Card>
          <Card class="box" square>6</Card>
          <Card class="box" square>7</Card>
          <Card class="box" square>8</Card>
          <Card class="box" square>9</Card>
        </div>
      </section>
    </div>
  </section>
</Layout>

<style>
  :root {
    --test-color: #0dbc79;
  }

  p {
    font-size: var(--font-size-3);
  }

  .examples {
    padding: var(--space-2);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--space-2);
  }

  .examples--alt-background {
    background-color: var(--test-bg);
    border-radius: var(--radius-lg);
  }

  .selection {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-2);
  }

  .selection--column {
    flex-direction: column;
  }

  .selection--button-example {
    align-items: center;
  }

  .selection--line-height-example > p {
    background-color: var(--bg-card);
  }

  .selection--spacing-example {
    display: grid;
    grid-template-columns: repeat(3, minmax(64px, max-content));
  }

  .selection--grid-example {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    :nth-child(2) {
      grid-column: span 2;
      background-color: red;
      width: 100%;
      aspect-ratio: initial !important;
    }

    :nth-child(3) {
      grid-row: span 2;
      background-color: blue;
      aspect-ratio: initial !important;
    }

    :nth-child(6) {
      grid-column: span 2;
      background-color: green;
      aspect-ratio: initial !important;
      width: 100%;
    }
  }

.circle {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background-color: var(--accent-primary);
  }

  .box {
    width: 64px;
    border-radius: var(--radius-sm);
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .animation {
    animation-name: scale-up;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-timing-function: var(--ease-standard);
    animation-duration: var(--dur-slow);
  }

  .class-test {
    background-color: var(--test-color) !important;
  }
</style>
