---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import { env } from "@/types/env.ts";
import HeartIcon from "@phosphor-icons/core/assets/regular/heart.svg";
import EnvelopeIcon from "@phosphor-icons/core/assets/regular/envelope.svg";
import LinkIcon from "@phosphor-icons/core/assets/regular/link.svg";
import ToggleLeftIcon from "@phosphor-icons/core/assets/regular/toggle-left.svg";

import Card from "../components/Card.astro";
import Button from "../components/Button.astro";
import Icon from "../components/Icon.astro";

export const prerender = env.TEST_PAGE;

const pageTitle = "Test Page";
---

<Layout pageTitle={pageTitle}>
  <h1>Test Page</h1>

  <section>
    <h2>Typography</h2>

    <div class="examples">
      <section>
        <p>Font Families</p>
        <div class="selection selection--column">
          <p class="font-family-example" style="font-family: var(--font-family-title)">
            Titles Font
          </p>
          <p class="font-family-example" style="font-family: var(--font-family-primary)">
            Primary Body Font
          </p>
          <p class="font-family-example" style="font-family: var(--font-family-secondary)">
            Secondary Body Font
          </p>
          <p class="font-family-example" style="font-family: var(--font-family-mono)">Code Font</p>
        </div>
      </section>

      <section>
        <p>Font Sizes</p>
        <div class="selection selection--column">
          <p style="font-size: var(--font-size-0)">Font Size 0</p>
          <p style="font-size: var(--font-size-1)">Font Size 1</p>
          <p style="font-size: var(--font-size-2)">Font Size 2</p>
          <p style="font-size: var(--font-size-3)">Font Size 3</p>
          <p style="font-size: var(--font-size-4)">Font Size 4</p>
          <p style="font-size: var(--font-size-5)">Font Size 5</p>
          <p style="font-size: var(--font-size-6)">Font Size 6</p>
        </div>
      </section>

      <section>
        <p>Line Heights</p>
        <div class="selection selection--column selection--line-height-example">
          <p style="line-height: var(--lh-tight)">Tight Line Height</p>
          <p style="line-height: var(--lh-title)">Title Line Height</p>
          <p style="line-height: var(--lh-body)">Body Line Height</p>
        </div>
      </section>

      <section>
        <p>Weights</p>
        <div class="selection selection--column">
          <p style="font-weight: var(--w-hairline)">Hairline</p>
          <p style="font-weight: var(--w-thin)">Thin</p>
          <p style="font-weight: var(--w-light)">Light</p>
          <p style="font-weight: var(--w-regular)">Regular</p>
          <p style="font-weight: var(--w-medium)">Medium</p>
          <p style="font-weight: var(--w-semibold)">Semibold</p>
          <p style="font-weight: var(--w-bold)">Bold</p>
        </div>
      </section>
    </div>
  </section>

  <section>
    <h2>Colors</h2>
    <div class="examples examples--alt-background">
      <section>
        <p>Background</p>
        <div class="selection">
          <div class="circle" style="background-color: var(--bg-primary)"></div>
          <div class="circle" style="background-color: var(--bg-secondary)"></div>
          <div class="circle" style="background-color: var(--bg-tertiary)"></div>
          <div class="circle" style="background-color: var(--bg-card)"></div>
          <div class="circle" style="background-color: var(--bg-code)"></div>
        </div>
      </section>
      <section>
        <p>Text</p>
        <div class="selection">
          <div class="circle" style="background-color: var(--text-primary)"></div>
          <div class="circle" style="background-color: var(--text-secondary)"></div>
          <div class="circle" style="background-color: var(--text-link)"></div>
          <div class="circle" style="background-color: var(--text-link-hover)"></div>
          <div class="circle" style="background-color: var(--text-link-focus)"></div>
        </div>
      </section>
      <section>
        <p>Accent</p>
        <div class="selection">
          <div class="circle" style="background-color: var(--accent-primary)"></div>
          <div class="circle" style="background-color: var(--accent-secondary)"></div>
          <div class="circle" style="background-color: var(--accent-tertiary)"></div>
          <div class="circle" style="background-color: var(--accent-quaternary)"></div>
        </div>
      </section>
      <section>
        <p>Callouts</p>
        <div class="selection">
          <div class="circle" style="background-color: var(--callout-success)"></div>
          <div class="circle" style="background-color: var(--callout-warning)"></div>
          <div class="circle" style="background-color: var(--callout-error)"></div>
          <div class="circle" style="background-color: var(--callout-info)"></div>
        </div>
      </section>
      <section>
        <p>Components & States</p>
        <div class="selection">
          <div class="circle" style="background-color: var(--focus-ring)"></div>
          <div class="circle" style="background-color: var(--border-color)"></div>
          <div class="circle" style="background-color: var(--surface-1)"></div>
          <div class="circle" style="background-color: var(--surface-2)"></div>
          <div class="circle" style="background-color: var(--overlay)"></div>
          <div class="circle" style="background-color: var(--selection-bg)"></div>
          <div class="circle" style="background-color: var(--scrollbar-thumb)"></div>
          <div class="circle" style="background-color: var(--icon-color)"></div>
        </div>
      </section>
    </div>
  </section>

  <section>
    <h2>Spacing</h2>
    <div class="examples">
      <div>
        <p>Default</p>
        <div class="selection--spacing-example">
          <Card square class="box">1</Card>
          <Card square class="box">2</Card>
          <Card square class="box">3</Card>
          <Card square class="box">4</Card>
          <Card square class="box">5</Card>
          <Card square class="box">6</Card>
          <Card square class="box">7</Card>
          <Card square class="box">8</Card>
          <Card square class="box">9</Card>
        </div>
      </div>
      <div>
        <p>Space 1</p>
        <div class="selection--spacing-example" style="gap: var(--space-1);">
          <Card square class="box">1</Card>
          <Card square class="box">2</Card>
          <Card square class="box">3</Card>
          <Card square class="box">4</Card>
          <Card square class="box">5</Card>
          <Card square class="box">6</Card>
          <Card square class="box">7</Card>
          <Card square class="box">8</Card>
          <Card square class="box">9</Card>
        </div>
      </div>
      <div>
        <p>Space 2</p>
        <div class="selection--spacing-example" style="gap: var(--space-2);">
          <Card square class="box">1</Card>
          <Card square class="box">2</Card>
          <Card square class="box">3</Card>
          <Card square class="box">4</Card>
          <Card square class="box">5</Card>
          <Card square class="box">6</Card>
          <Card square class="box">7</Card>
          <Card square class="box">8</Card>
          <Card square class="box">9</Card>
        </div>
      </div>
      <div>
        <p>Space 3</p>
        <div class="selection--spacing-example" style="gap: var(--space-3);">
          <Card square class="box">1</Card>
          <Card square class="box">2</Card>
          <Card square class="box">3</Card>
          <Card square class="box">4</Card>
          <Card square class="box">5</Card>
          <Card square class="box">6</Card>
          <Card square class="box">7</Card>
          <Card square class="box">8</Card>
          <Card square class="box">9</Card>
        </div>
      </div>
      <div>
        <p>Space 4</p>
        <div class="selection--spacing-example" style="gap: var(--space-4);">
          <Card square class="box">1</Card>
          <Card square class="box">2</Card>
          <Card square class="box">3</Card>
          <Card square class="box">4</Card>
          <Card square class="box">5</Card>
          <Card square class="box">6</Card>
          <Card square class="box">7</Card>
          <Card square class="box">8</Card>
          <Card square class="box">9</Card>
        </div>
      </div>
      <div>
        <p>Space 5</p>
        <div class="selection--spacing-example" style="gap: var(--space-5);">
          <Card square class="box">1</Card>
          <Card square class="box">2</Card>
          <Card square class="box">3</Card>
          <Card square class="box">4</Card>
          <Card square class="box">5</Card>
          <Card square class="box">6</Card>
          <Card square class="box">7</Card>
          <Card square class="box">8</Card>
          <Card square class="box">9</Card>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2>Tokens</h2>
    <div class="examples">
      <section>
        <p>Radii</p>
        <div class="selection">
          <Card square width="100px" class="box" style="border-radius: var(--radius-sm);">sm</Card>
          <Card square width="100px" class="box" style="border-radius: var(--radius-md);">md</Card>
          <Card square width="100px" class="box" style="border-radius: var(--radius-lg);">lg</Card>
        </div>
      </section>

      <section>
        <p>Shadows</p>
        <div class="selection">
          <Card square width="100px" class="box" style="box-shadow: var(--shadow-1);">1</Card>
          <Card square width="100px" class="box" style="box-shadow: var(--shadow-2);">2</Card>
          <Card square width="100px" class="box" style="box-shadow: var(--shadow-3);">3</Card>
        </div>
      </section>
    </div>
  </section>

  <section>
    <h2>Animations</h2>
    <div class="examples">
      <section>
        <p>Timing Functions</p>
        <div class="selection">
          <div class="circle animation" style="animation-timing-function: var(--ease-standard)">
          </div>
          <div class="circle animation" style="animation-timing-function: var(--ease-emphasized)">
          </div>
        </div>
      </section>

      <section>
        <p>Durations</p>
        <div class="selection">
          <div class="circle animation" style="animation-duration: var(--dur-fast);"></div>
          <div class="circle animation" style="animation-duration: var(--dur-medium);"></div>
          <div class="circle animation" style="animation-duration: var(--dur-slow);"></div>
        </div>
      </section>

      <section>
        <p>Animations</p>
        <div class="selection">
          <!-- Not all OpenProps animations are working -->
          <div class="circle animation" style="animation-name: spin"></div>
          <div class="circle animation" style="animation-name: fade-in"></div>
          <div class="circle animation" style="animation-name: fade-out"></div>
          <div class="circle animation" style="animation-name: slide-in-up"></div>
          <div class="circle animation" style="animation-name: slide-in-right"></div>
          <div class="circle animation" style="animation-name: slide-out-down"></div>
          <div class="circle animation" style="animation-name: slide-out-left"></div>
          <div class="circle animation" style="animation-name: grow"></div>
        </div>
      </section>
    </div>
  </section>

  <section>
    <h2>Components</h2>

    <div class="examples">
      <section>
        <p>Cards</p>
        <div class="selection selection--column">
          <Card>Default</Card>
          <Card sizing="full">Sizing Full</Card>
          <Card sizing="fit-content">Sizing Fit Content</Card>
          <Card square="true" width="100px">Square 100px</Card>
          <Card height="100px">Height 100px</Card>
          <Card width="100px">Width 100px</Card>
          <Card backgroundColor="blue" style="background-color: red;">Background Color</Card>
        </div>
      </section>

      <section>
        <p>Buttons</p>
        <div class="selection">
          <section>
            <p>Default Button</p>
            <div class="selection selection--button-example">
              <Button>Default</Button>
              <Button variant="primary">Primary</Button>
              <Button variant="danger">Danger</Button>
              <Button variant="primary" color="purple">Custom Color</Button>
              <Button variant="primary"><Icon><EnvelopeIcon /></Icon>Text Icon</Button>
              <Button variant="icon" size="xl" aria-label="Icon"
                ><Icon><ToggleLeftIcon /></Icon></Button
              >
              <Button variant="ghost">Ghost</Button>
              <Button disabled>Disabled</Button>
            </div>
          </section>

          <section>
            <p>Anchor Button</p>
            <div class="selection selection--button-example">
              <Button as="a" href="#">Default</Button>
              <Button as="a" href="#" variant="primary">Primary</Button>
              <Button as="a" href="#" variant="danger">Danger</Button>
              <Button as="a" href="#" variant="primary" color="forestgreen">Custom Color</Button>
              <Button as="a" href="#"><Icon><EnvelopeIcon /></Icon> Text Icon</Button>
              <Button as="a" href="#" variant="icon" size="xl" aria-label="Icon"
                ><Icon><LinkIcon /></Icon></Button
              >
              <Button as="a" href="#" variant="ghost">Ghost</Button>
              <Button as="a" href="#" disabled>Disabled</Button>
            </div>
          </section>

          <section>
            <p>Button Sizes</p>
            <div class="selection selection--button-example">
              <Button size="xs">Extra Small</Button>
              <Button size="s">Small</Button>
              <Button size="m">Medium</Button>
              <Button size="l">Large</Button>
              <Button size="xl">Extra Large</Button>
            </div>
          </section>
        </div>
      </section>

      <section>
        <p>Icons</p>
        <div class="selection">
          <HeartIcon width="48" fill="var(--accent-primary)" />
          <HeartIcon width="48" fill="red" />
        </div>
      </section>
    </div>
  </section>

  <section>
    <h2>Layouts</h2>

    <div class="examples">
      <section>
        <p>Flex</p>
        <div class="selection selection--flex">
          <Card square class="box">1</Card>
          <Card square class="box">2</Card>
          <Card square class="box">3</Card>
          <Card square class="box">4</Card>
          <Card square class="box">5</Card>
          <Card square class="box">6</Card>
        </div>
      </section>
      <section>
        <p>Grid</p>
        <div class="selection selection--grid-example">
          <Card square class="box">1</Card>
          <Card square class="box">2</Card>
          <Card square class="box">3</Card>
          <Card square class="box">4</Card>
          <Card square class="box">5</Card>
          <Card square class="box">6</Card>
          <Card square class="box">7</Card>
          <Card square class="box">8</Card>
          <Card square class="box">9</Card>
        </div>
      </section>
    </div>
  </section>
</Layout>
<style>
  p {
    font-size: var(--font-size-3);
  }

  .examples {
    padding: var(--space-2);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--space-2);
  }

  .examples--alt-background {
    background-color: var(--test-bg);
    border-radius: var(--radius-lg);
  }

  .selection {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-2);
  }

  .selection--column {
    flex-direction: column;
  }

  .selection--button-example {
    align-items: center;
  }

  .selection--line-height-example > p {
    background-color: var(--bg-card);
  }

  .selection--spacing-example {
    display: grid;
    grid-template-columns: repeat(3, minmax(64px, max-content));
  }

  .selection--grid-example {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    :nth-child(2) {
      grid-column: span 2;
      background-color: red;
      width: 100%;
      aspect-ratio: initial !important;
    }

    :nth-child(3) {
      grid-row: span 2;
      background-color: blue;
      aspect-ratio: initial !important;
    }

    :nth-child(6) {
      grid-column: span 2;
      background-color: green;
      aspect-ratio: initial !important;
      width: 100%;
    }
  }

  .circle {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background-color: var(--accent-primary);
  }

  .box {
    width: 64px;
    border-radius: var(--radius-sm);
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .animation {
    animation-name: scale-up;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-timing-function: var(--ease-standard);
    animation-duration: var(--dur-slow);
  }
</style>
