---
import Layout from "../../../layouts/Layout.astro";
import { pathsForAllLocales } from "@/utils/i18n/path";
import { metaLoader } from "@/utils/i18n/dictBuilder";

export function getStaticPaths() {
  return pathsForAllLocales();
}

const lang = Astro.currentLocale;
const meta = await metaLoader.getAsync(lang);
const title = meta.contact.title;
const description = meta.contact.description;
---

<Layout pageTitle={title} description={description}>
  <h1>{title}</h1>
</Layout>
