---
import type { PatchOptions } from "@/types/attributes";
import { buildElementProps } from "@/utils";
import type { HTMLAttributes } from "astro/types";

interface ButtonBase {
  as?: "a" | "button";
  variant: "primary" | "ghost" | "icon" | "danger";
  color: string;
  size?: "sm" | "md" | "lg";
  disabled?: boolean;
}

interface AnchorButton extends ButtonBase, PatchOptions<"a"> {
  href: string | URL;
}

interface NativeButton extends ButtonBase, PatchOptions<"button"> {}

type ButtonProps = AnchorButton | NativeButton;

const {
  variant = "primary",
  as = "button",
  size = "md",
  color,
  disabled = false,
  ...attributes
} = Astro.props as ButtonProps;

let built: Partial<HTMLAttributes<"a">> | Partial<HTMLAttributes<"button">>;
let baseClassList = ["btn", `btn--${variant}`, `btn--${size}`, disabled && "btn--disabled"].filter(
  Boolean
);
let styleList = [color && `--btn-accent: ${color}`].filter(Boolean);
let { inert } = attributes as { inert?: boolean };
if (disabled) {
  inert = true;
}
if (as === "a") {
  const { href } = attributes as { href: string | URL };
  built = buildElementProps<"a">({
    classList: [...baseClassList, "btn--anchor"],
    styleList: [...styleList],
    attributes: { href, inert, ...attributes }
  });
} else {
  built = buildElementProps<"button">({
    classList: [...baseClassList, "btn--native"],
    styleList: [...styleList],
    attributes: { inert, ...attributes }
  });
}
---

{
  as === "a" ? (
    <a {...built}>
      <slot />
    </a>
  ) : (
    <button {...built} type="button">
      <slot />
    </button>
  )
}

<style>
  .btn {
    cursor: pointer;
    touch-action: manipulation;

    font-family: var(--font-family-secondary);
    color: var(--btn-text);
    white-space: nowrap;

    background: var(--btn-bg);
    border: 2px solid var(--btn-border-color);
    border-radius: var(--btn-border-radius);

    box-shadow:
      var(--btn-shadow-2),
      var(--btn-shadow-depth),
      0 0 0 var(--btn-highlight-size) var(--btn-highlight-color);
    text-shadow: var(--btn-ink-shadow);
    outline-color: currentColor;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    gap: 1ch;
    padding-inline: var(--btn-padding-x);
    padding-block: var(--btn-padding-y);

    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;

    transition: var(--btn-transition);

    &:hover {
      --btn-highlight-size: 0.5rem;
    }

    &:focus-visible {
      outline-offset: 5px;
    }
  }

  .btn > :global(.icon) {
    color: var(--btn-text);
    inline-size: var(--btn-icon-size);
    block-size: var(--btn-icon-size);
    flex-shrink: 0;
  }

  .btn > :global(.icon svg) {
    stroke: var(--btn-icon-color);
    filter: drop-shadow(var(--btn-ink-shadow));
  }

  .btn--anchor {
    font-weight: var(--w-light);
  }

  .btn--native {
    font-weight: var(--w-semibold);
  }

  .btn--ghost {
    background: transparent;
    border: 0;
    box-shadow: none !important;
  }

  .btn--icon {
  }

  .btn--disabled {
    cursor: not-allowed;
    box-shadow: var(--btn-shadow-1);
    opacity: 0.5;
    color: hsl(from currentColor h s l / 0.5);
  }

  .btn--sm {
    font-size: var(--font-size-0);
  }

  .btn--md {
    font-size: var(--font-size-1);
  }

  .btn--lg {
    font-size: var(--font-size-2);
  }
</style>
