---
import type { PatchOptions } from "@/types/attributes";
import { buildElementProps } from "@/utils";
import type { HTMLAttributes } from "astro/types";

// TODO: Split for stricter type safety and better hints

interface ButtonBase {
  as?: "a" | "button";
  variant?: "primary" | "ghost" | "icon" | "danger";
  size?: "xs" | "s" | "m" | "l" | "xl";
  color?: string;
}

type AnchorButton = ButtonBase & HTMLAttributes<"a"> & Pick<HTMLAttributes<"button">, "disabled">;
type NativeButton = ButtonBase & HTMLAttributes<"button">;
type Props = AnchorButton | NativeButton;

const {
  variant = "primary",
  as = "button",
  size = "s",
  color,
  ...attributes
} = Astro.props as Props;

let baseClassList = [
  "btn",
  `btn--${variant}`,
  `btn--${size}`,
  attributes.disabled && "btn--disabled"
];
let baseStyleList = [color && `--btn-accent: ${color}`];

let built: HTMLAttributes<"a"> | HTMLAttributes<"button">;

if (as === "a") {
  built = buildElementProps<"a">({
    classList: [...baseClassList, "btn--anchor"],
    styleList: [...baseStyleList],
    decorative: attributes.disabled ? true : undefined,
    attributes: {
      ...attributes,
      ...(attributes.disabled && { "aria-disabled": "true", disabled: undefined, href: undefined })
    }
  } as PatchOptions<"a">);
} else {
  built = buildElementProps<"button">({
    classList: [...baseClassList, "btn--native"],
    styleList: [...baseStyleList],
    decorative: attributes.disabled ? true : undefined,
    attributes: {
      ...attributes
    }
  } as PatchOptions<"button">);
}
---

{
  as === "a" ? (
    <a {...(built as HTMLAttributes<"a">)}>
      <slot />
    </a>
  ) : (
    <button {...(built as HTMLAttributes<"button">)}>
      <slot />
    </button>
  )
}

<style>
  .btn {
    cursor: pointer;
    touch-action: manipulation;

    font-family: var(--font-family-secondary);
    color: var(--btn-text);
    white-space: nowrap;

    background: var(--btn-bg);
    border: 2px solid var(--btn-border-color);
    border-radius: var(--btn-border-radius);

    box-shadow:
      var(--btn-shadow-2),
      var(--btn-shadow-depth),
      0 0 0 var(--btn-highlight-size) var(--btn-highlight-color);
    text-shadow: var(--btn-ink-shadow);
    outline-color: currentColor;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    gap: 1ch;
    padding-inline: var(--btn-padding-x);
    padding-block: var(--btn-padding-y);

    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;

    transition: var(--btn-transition);

    &:hover {
      --btn-highlight-size: 0.5rem;
    }

    &:focus-visible {
      outline-offset: 5px;
    }

    &:is(:disabled, [aria-disabled]) {
      cursor: not-allowed;
      pointer-events: none;
      box-shadow: none;
      opacity: 0.5;
      color: hsl(from currentColor h s l / 0.5);
    }
  }

  .btn > :global(.icon) {
    color: var(--btn-text);
    inline-size: var(--btn-icon-size);
    block-size: var(--btn-icon-size);
    flex-shrink: 0;
  }

  .btn > :global(.icon svg) {
    stroke: var(--btn-icon-color);
    filter: drop-shadow(var(--btn-ink-shadow));
  }

  .btn--anchor {
    font-weight: var(--w-light);
  }

  .btn--native {
    font-weight: var(--w-semibold);
  }

  .btn--ghost {
    background: transparent;
    border: 0;
    box-shadow: none;
  }

  .btn--icon {
    aspect-ratio: 1;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
    border: 0;
    --btn-padding-x: 0;
    --btn-padding-y: 0;
  }

  .btn--disabled {
  }

  .btn--xs {
    font-size: var(--font-size-0);
  }

  .btn--s {
    font-size: var(--font-size-1);
  }

  .btn--m {
    font-size: var(--font-size-2);
  }

  .btn--l {
    font-size: var(--font-size-3);
  }

  .btn--xl {
    font-size: var(--font-size-4);
  }
</style>
