---
import Navigation from './Navigation.astro'
---

<header>
  <div class="nav-links">
    <Navigation title="Home" link="/" />
    <Navigation title="About" link="/about" />
    <Navigation title="Blog" link="/blog" />
    <Navigation title="Tags" link="/tags" />
    <Navigation title="Test" link="/test" />
  </div>
</header>
