---
import { buildElementProps } from "@/utils";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"span"> {
  color?: string;
  size?: string;
}

const { color, size, ...attributes } = Astro.props;

const built = buildElementProps<"span">({
  classList: ["icon"],
  styleList: [color && `color: ${color}`, size && `inline-size: ${size}; block-size: ${size}`],
  attributes: {
    "aria-hidden": "true",
    ...attributes
  }
});
---

<span {...built}>
  <slot />
</span>

<style>
  .icon {
    inline-size: var(--icon-size);
    block-size: var(--icon-size);
    display: inline-flex;
  }
</style>
