---
import type { HTMLAttributes } from "astro/types";

interface Props extends Omit<HTMLAttributes<"span">, "color"> {
  color?: string;
  size?: string;
}

const { color, size, ...attributes } = Astro.props;

const classList = ["icon"];
attributes["aria-hidden"] = true;
---

<span class:list={[classList, attributes.class]} {...attributes}>
  <slot />
</span>

<style define:vars={{ "icon-color": color, "icon-size": size }}>
  .icon {
    display: inline-flex;
    inline-size: var(--icon-size);
    block-size: var(--icon-size);
    color: var(--icon-color);
  }
</style>
