---
interface Props {
  title: string;
  link: string;
  isCurrent?: boolean;
}
const { title, link, isCurrent = false } = Astro.props as Props;
---

<a href={link} aria-current={isCurrent ? 'page' : undefined}>{title}</a>
