---
import Layout from "../../../layouts/Layout.astro";
import { pathsForAllLocales, metaLoader } from "@/utils";

export function getStaticPaths() {
  return pathsForAllLocales();
}

const lang = Astro.currentLocale;
const meta = await metaLoader.getAsync(lang);
const title = meta.folio.title;
const description = meta.folio.description;
---

<Layout pageTitle={title} description={description}>
  <h1>{title}</h1>
</Layout>
