---
import Layout from "&ui/Layout.astro";

import { pathsForAllLocales } from "&utils/compositional/content/filter.ts";
import { MetaLoader } from "&utils/compositional/i18n/metaLoader.ts";

export function getStaticPaths() {
  return pathsForAllLocales();
}

const lang = Astro.currentLocale;
const meta = await MetaLoader.getAsync(lang);
const title = meta.folio.title;
const description = meta.folio.description;
---

<Layout description={description} pageTitle={title}>
  <h1>{title}</h1>
</Layout>
