---
import Layout from "@/ui/layouts/Layout.astro";
import { MetaLoader } from "@/utils/compositional/i18n/metaLoader.ts";
import { pathsForAllLocales } from "@/utils/compositional/content/filter.ts";

export function getStaticPaths() {
  return pathsForAllLocales();
}

const lang = Astro.currentLocale;
const meta = await MetaLoader.getAsync(lang);
const title = meta.folio.title;
const description = meta.folio.description;
---

<Layout pageTitle={title} description={description}>
  <h1>{title}</h1>
</Layout>
