---
import Layout from '../../../layouts/Layout.astro'
import { getPageMeta } from "../../../i18n/meta";
import { locales } from "../../../i18n/locales";

export function getStaticPaths() {
  return locales.map((lang) => ({ params: { lang } }));
}

const lang = Astro.params.lang;
const meta = getPageMeta(lang, "folio");
---

<Layout pageTitle={meta.title} description={meta.description} >
  <h1>{meta.title}</h1>
</Layout>