---
import type { HTMLAttributes } from "astro/types";
import SunIcon from "@phosphor-icons/core/assets/bold/sun-bold.svg";
import TranslateIcon from "@phosphor-icons/core/assets/bold/translate-bold.svg";

import Icon from "@/components/Icon.astro";
import Button from "../components/Button/Button.astro";
import Navigation from "@/compositions/Navigation.astro";
import { metaLoader } from "@/utils/core/i18n/dict/dictBuilder.ts";

interface Props extends HTMLAttributes<"header"> {}

const { ...attributes } = Astro.props;

const classList = ["header"];

const meta = await metaLoader.getAsync(Astro.currentLocale);
const title = meta.home.title;
---

<header class:list={[classList, attributes.class]} {...attributes}>
  <a class="title" href="/">{title}</a>
  <nav aria-label="Primary">
    <Navigation mode="default" />
  </nav>
  <Button variant="icon" size="xl" color="var(--accent-secondary)" class="icon translate-icon">
    <Icon><TranslateIcon /></Icon>
  </Button>
  <Button variant="icon" size="xl" color="var(--accent-secondary)" class="icon sun-icon">
    <Icon><SunIcon /></Icon>
  </Button>
</header>

<style>
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-3);

    padding: var(--space-2);
    background: var(--bg-secondary);
    box-shadow: var(--shadow-1);
    border-bottom: 3px solid var(--accent-primary);
  }

  .header > * {
    margin-block: auto;
  }

  .title {
    font-family: var(--font-family-title);
    font-weight: var(--w-semibold);
    line-height: var(--lh-title);
    font-size: var(--font-size-6);
    color: var(--accent-primary);
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    margin: 0;
    grid-column: span 2;
  }

  nav {
    grid-column: span 2;
    margin: 0 var(--space-1);
  }

  .icon {
    grid-row: 2;
  }

  .translate-icon {
    grid-column: 1;
    justify-self: start;
  }

  .sun-icon {
    grid-column: 2;
    justify-self: end;
  }

  @media (width > 950px) {
    .header {
      grid-template-columns: max-content 1fr max-content max-content max-content;
      padding: var(--space-1) var(--space-2);
    }

    .title {
      grid-column: 1;
    }

    nav {
      grid-column: 3;
    }

    .icon {
      grid-row: 1;
    }

    .sun-icon {
      grid-column: 5;
    }

    .translate-icon {
      grid-column: 4;
    }
  }
</style>
