---
import Navigation from "@/compositions/Navigation.astro";
import { type PatchOptions } from "@/types/attributes";
import { buildElementProps } from "../utils";

const { ...attributes } = Astro.props as PatchOptions<"header">;

const built = buildElementProps<"header">({
  attributes
});
---

<header {...built}>
  <nav aria-label="Primary">
    <Navigation mode="default" />
  </nav>
</header>
