---
import Layout from '../../../layouts/Layout.astro'
import BlogPost from '../../../components/BlogPost.astro'
import { getCollection } from 'astro:content'
import { buildBlogPostPath, pathsForAllLocales } from "../../../i18n/utils";
import { getPageMeta } from "../../../i18n/meta";
import { type Locale } from "../../../i18n/locales";
import { byLang } from "../../../i18n/content";

export function getStaticPaths() {
  return pathsForAllLocales();
}

const lang = Astro.params.lang as Locale;
const meta = getPageMeta(lang, "blog");

const allPosts = await getCollection('blog', byLang(lang));
---

<Layout pageTitle={meta.title} description={meta.description} >
  <h1>{meta.title}</h1>
  <ul aria-label="Blog Posts">
    {allPosts.map((post) => (
      <BlogPost
        url={buildBlogPostPath(lang, post.id)}
        title={post.data.title}
      />
    ))}
  </ul>
</Layout>