/* stylelint-disable defensive-css/require-pure-selectors -- Element selectors fine in reset */
* {
  box-sizing: border-box;
}

html,
body {
  block-size: 100%;
}

body {
  margin: 0;
  background: var(--bg-primary);
  color: var(--text-primary);
}
